h1 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(32, 5, 77);
  }
  
  #h3 {
      font-family: 'Courier New', Courier, monospace;
      color: rgb(43, 4, 75);
  }
  
  body {
    background-color: #1d013e;
  }
  
  .header{
      text-align: center;
  }
  
  #profile-center{
      margin: auto;
      padding: auto;
  }
  
  .container {
    background-image: url(img/bg1.jpg);
    margin: 10px;
    padding: 20px;
    height: 1220px;
  }
  
  .card-info{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(247, 237, 147);
      padding: 1%;
      width: 300px;
      height: 250px;
      position: absolute;
      left: 5%;
      /* top: 50%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
          
      /* position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); */
  }
  
  .card-info .info{
      color: rgb(1, 18, 48);
  }
  
  .card-prog-skill{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(250, 152, 242);
      padding: 1%;
      /* padding-top: 1px; */
      width: 350px;
      height: 250px;
      position: absolute;
      left: 30%;
      /* top: 50%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-prog-skill .prog-lang-skill{
      color: rgb(71, 22, 17);
  }
  
  .card-exp{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(186, 248, 158);
      padding: 1%;
      width: 250px;
      height: 250px;
      position:absolute;
      left: 58%;
      /* top: 50%; 
      right: 50%;
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-exp .exp-stack{
      color: rgb(5, 26, 97);
  }
  
  .card-design{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(143, 245, 240);
      padding: 1%;
      width: 250px;
      height: 250px;
      position:absolute;
      left: 79.5%;
      /* top: 102%;  */
      /* right: 50%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-design .design-skill{
      color: rgb(54, 15, 52);
  }
  
  .card-ux{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(252, 198, 167);
      padding: 1%;
      width: 300px;
      height: 250px;
      position:absolute;
      left: 5%;
      top: 110%;
      /* right: 1%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-ux .ux-skill{
      color: rgb(3, 70, 3);
  }
  
  .card-other{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(247, 169, 201);
      padding: 1%;
      width: 350px;
      height: 250px;
      position:absolute;
      left: 30%;
      top: 110%; 
      right: 50%;
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(14, 12, 12, 0.2);
      border-radius: 5px;
  }
  
  .card-other .other-skill{
      color: rgb(1, 61, 1);
  }
  
  .card-work{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(248, 219, 156);
      padding: 1%;
      width: 250px;
      height: 250px;
      position:absolute;
      left: 58%;
      top: 110%; 
      /* right: 50%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-work .work-exp{
      color: rgb(58, 24, 50);
  }
  
  .card-interest{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgb(181, 204, 245);
      padding: 1%;
      width: 250px;
      height: 250px;
      position:absolute;
      left: 79.5%;
      top: 110%; 
      /* right: 50%; */
      /* transform: translate(-50%, -50%); */
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }
  
  .card-interest .interest{
      color: rgb(39, 54, 43);
  }
  
  .footer{
      font-family: 'Courier New', Courier, monospace;
      color: rgb(29, 2, 51);
      background-color: antiquewhite;
      position:absolute;
      left: 1.5%;
      top: 150%;
      width: 97%;
  }





